img {
	max-width: 100%;
}
body {
	margin: 0;
	background-color: hsl(200, 55%, 87%);
	color: #444;
}
h1,h2,h3,h4 {margin: 0;}
p {
	margin-top: 0;
}
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}


/*********** Layout ****************/
.container {
  width: 90%;
  margin: 0 auto;
}
.gallery {
  margin-left: -1%;
}
.gallery .col {
  width: 24%;
  padding-left: 1%;
  float: left;
}
.gallery .colx3 {
	width: 72%
}
.gallery a {
  display: block;
  margin-bottom: 5px;
}

/*********** Control Panel ****************/

.control-panel {
	position: relative;
	text-align: center;
	z-index: 1;
    width: 100%;
    padding: 30px 0;
	background-color: hsla(7, 100%, 66%, 1);
	background-color: #666;
	background-image: -webkit-linear-gradient(top, #666, #555);
   	   background-image: -moz-linear-gradient(top, #666, #555);
   	    background-image: -ms-linear-gradient(top, #666, #555);
		 background-image: -o-linear-gradient(top, #666, #555);
			background-image: linear-gradient(top, #666, #555);
	box-shadow: inset 0px 1px 1px rgba(255,255,255,0.8), 0 2px 2px rgba(0,0,0,0.8);
}

.control-panel h1 {
	color: #CAE0F1;
	font-size: 5.5em;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,1);
}

.control-panel > div {
	display: inline-block;
	text-align: left;
	margin: 30px auto 0;
	padding: 20px 40px;
	border-radius: 30px;
	background-color: rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.6);
}
.control-panel .search-container {
	width: 500px;
	margin-right: 50px;
}

.radio-buttons {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.radio-buttons label {
 color: #F0F0EF;
}	
.search {
	float: right;
	margin-left: 40px;
}
.search input, .search .btn {
	float: left;
}


/*********** Info *******************/


.info {
  background-color: #808fa4;
  color: #dff7ff;
  padding: 20px 0;
}

.info p {
	margin-bottom: 1em;
	line-height: 1.4;
}
.info ul {
	list-style: none;
	text-align: center;
	margin: 10px 0 0 0;
}
.info li {
	display: inline-block;
	color: #fff;
}
.info li:first-child {
	margin-right: 50px;
}
.info li a {
	color: #fff;
}

/*********** Gallery ****************/

.gallery-container {
	background-color: rgba(255,255,255,0.8);	
}
.gallery {
	padding: 0 20px;
}
.gallery .col {
	margin-top: 20px;
}
.gallery .grid-photo {
	position: relative;
}
.gallery .grid-photo:hover:after {
	content: 'Edit';
	display: block;
	position: absolute;
	background-color: rgba(255,255,255,0.6);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	padding-top: 40px;
	color: #000;
	text-transform: uppercase;
}
.img {
	position: relative;
}
.img-options {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	text-indent: -9999em;
	background-color: #ccc;
	display: none;
}
.img:hover .img-options {
	display: block;
}
.img-options:hover {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

/************* Error ***************/

h3 {
	font-size: 3em;
	text-align: center;
	padding: 40px 0;
	color: #5D5D5D;
}
.flickr-msg {
	margin-top: 50px;
}

/************* Edit ***************/


.edit-panel label {
	float: right;
	color: #57A3E1;
}
.edit-panel input {
	width: 80%;
}

.edit-panel h4 {
	margin-top: .75em;
	color: #57A3E1;
}



/************* Forms ***************/
input[type="text"] {
  border: 1px solid #CFCFCF;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-radius: 4px;
  width: 230px;
  margin-right: 5px;
  font-size: 22px;
  color: #57A3E1;
}
/*********** Buttons ***************/
.btn {
  position: relative;
  display: inline-block;
  padding: 11px 50px 9px 10px;
  color: white;
  background-color: #57a3e1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  letter-spacing: 0.07em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.btn::after {
  content: '';
  display: none;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 10px;
  top: 3px;
}
.btn:active {
  top: 1px;
}
.btn:hover::after {
  display: block;
  background-image: url('http://ianfeather.co.uk/resources/arrow_alt_right.png');
}
.btn.active::after {
  display: block;
  background-image: url('http://ianfeather.co.uk/resources/ajax-loader-3.gif');
}
